
body{
    margin: 1%;
    padding: 2%;
    background-color: blanchedalmond;
}
        div{
            text-align: center;
        }
        h3{
            text-align: center;
            color: blue;
        }
   